.pokemon-details-wrapper {
   display: flex; 
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   gap: 1rem;
}

.pokemon-redirect-link {
    text-align: center;
}

.pokemon-details-name {
    font-size: xx-large;
    letter-spacing: 2rem;
}

.pokemon-attributes {
    display: flex;
    font-size: larger;
    gap: 2rem;
}

.type {
    font-size: x-large;
    border: 1px solid black;
padding: 1rem 2rem;
border-radius: 10px;
background-color: white;
margin-left: 1rem;
font-size: 16px;
}

.pokemon-types > h1 {
display: inline;
}